.container form{
    margin-top:3rem;
}

form input[name="city"]{
    background-color: transparent;
    color: white !important;
    border: 0;
    font-size: 20px;
    border-bottom: 2px solid white;
    border-radius: 0;
}

form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}

form input::placeholder
{
    color:gainsboro !important;
}